/*	
	As for CodexMall
	===================
	License:
	Public GNU
	===================
	Author: @nidscom

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 30px 20px;
    max-width: 95%;
    margin-left: 30px;
    margin-top: 15px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: center;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }

body {
font-family: 'Open Sans' sans-serif;
font-weight: 300;
line-height: 1.42em;
color:#A7A1AE;
background-color:#1F2739;
}

body{background-color:white;}
.card-header,.card-link,.card-link:hover{background-color:white;text-align:center;color:black;}
.card-body{padding:10px 10px;}
.card{width:100%;}
.card-link:after {
   content: "x";
   position:relative;
   float:left;
   margin-top:-8px;
   margin-left:5px;
   font-size:20px;
   font-weight:600;
   color:white;
 -webkit-animation: minus 0.8s;
   animation: minus 0.8s;
}
.card-link.collapsed:after {
   content: ">";
  -webkit-animation: plus 0.8s;
   animation: plus 0.8s;
} 

@keyframes minus {
    0% {transform: rotate(360deg);}
    0% {-webkit-transform: rotate(360deg);}
}

@keyframes plus {
   0% {transform: rotate(-360deg);}
   0% {-webkit-transform: rotate(-360deg);}
}

h1 {
	font-size:3em;
	font-weight: 300;
	line-height:1em;
	text-align: center;
	color: #4DC3FA;
}

h2 {
	font-size:1em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height:1em;
	padding-bottom: 2em;
	color: #FB667A;
}
}

	
